In [ ]:
# @ author: tashi.gurung@baruchmail.cuny.edu
# @ date: 01/20/2021

In [56]:
# dataset downloaded from: https://www.kaggle.com/shivamb/netflix-shows

## COMMENTS
Everything that follows '#' in a line is a comment, and is not treated as code

# Importing Libraries

### What is a library?
*   Collection of related functions
*   Eliminates the need to start from scratch
*   Also known as package

For example: <br>
the **rand()** is a function within the module: random from the library: NumPy

In [77]:
np.random.rand()

0.1447906275872125

### Alias
*   importing libraries and we are setting code names (alias) for each of them
*   code is cleaner
*   the alias is a variable and can be set to something else but there are widely accepted conventions

In [55]:
import pandas as pd # for data manipulation and analysis, especially for tabular data
import numpy as np  # for array and matrice operations

import matplotlib.pyplot as plt # base data visualization
import seaborn as sns # build on top of matplotlib

## Importing our Data Set
**pd** is the alias for the Library: **pandas** <br>
the "." (period) allows us to access the functions within the Library: **pandas** <br> 
**read_csv()** function belongs to the Library: **pandas** <br>
**read_csv()** function allows us to import datasets from your computer as well as an online source.

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/TashiNyangmi/hackathon_workshop/main/data/netflix_titles.csv')
# df1 = pandas.read_csv('https://raw.githubusercontent.com/TashiNyangmi/hackathon_workshop/main/data/netflix_titles.csv')

**pd.read_csv** reads the dataset from the source and returns what is called a **DataFrame** in pandas. <br>
**DataFrames** have built-in functions useful for data manipulation and analysis.

## Heads or Tails
**.head()** and **.tail()** functions displays the first 5 (by default), and the last 5 (by default) rows of a table <br>

In [51]:
df.head()

  show_id  ...                                        description
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...
5      s6  ...  A genetics professor experiments with a treatm...

[5 rows x 12 columns]

In [52]:
df.tail()

     show_id  ...                                        description
7778   s7779  ...  Looking to survive in a world taken over by zo...
7780   s7781  ...  A drug dealer starts having doubts about his t...
7781   s7782  ...  Dragged from civilian life, a former superhero...
7782   s7783  ...  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  ...  A scrappy but poor boy worms his way into a ty...

[5 rows x 12 columns]

**.info()** displays the non-null count, and data type of each column

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 1 to 7783
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4808 non-null   object
 1   type          4808 non-null   object
 2   title         4808 non-null   object
 3   director      4808 non-null   object
 4   cast          4808 non-null   object
 5   country       4808 non-null   object
 6   date_added    4808 non-null   object
 7   release_year  4808 non-null   int64
 8   rating        4808 non-null   object
 9   duration      4808 non-null   object
 10  listed_in     4808 non-null   object
 11  description   4808 non-null   object
dtypes: int64(1), object(11)
memory usage: 648.3+ KB

**Dtype** refers to Data Type <br>
**Object's** are most likely strings <br>
**int64** is integer

In [38]:
df.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [39]:
df.dropna(inplace= True) # drop all rows with any missing data i.e. Na

In [40]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [41]:
df.head()

  show_id  ...                                        description
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...
5      s6  ...  A genetics professor experiments with a treatm...

[5 rows x 12 columns]

In [ ]:
# df = df[~df['country'].isna()] # drop all rows with country = na

In [ ]:
df.shape

(4808, 12)

In [ ]:
df['show_id'].nunique()

4808

In [ ]:
df['type'].value_counts()

Movie      4673
TV Show     135
Name: type, dtype: int64

In [ ]:
df['director'].value_counts()

Raúl Campos, Jan Suter    18
Marcus Raboy              15
Jay Karas                 14
Cathy Garcia-Molina       13
Jay Chapman               12
                          ..
Laxman Utekar              1
Yasir Nawaz                1
Feng Xiaogang              1
Yann Gozlan                1
Sara Colangelo             1
Name: director, Length: 3613, dtype: int64

In [ ]:
df['country'].value_counts()

United States                                             1653
India                                                      832
United Kingdom                                             174
Canada                                                     104
Egypt                                                       87
                                                          ...
Denmark, United Kingdom, South Africa, Sweden, Belgium       1
Argentina, Uruguay, Spain, France                            1
Australia, India                                             1
Norway, United Kingdom, France, Ireland                      1
United Kingdom, France, Belgium                              1
Name: country, Length: 544, dtype: int64

In [ ]:
df[df['country'].str.contains('United States')]['country'].value_counts()

pandas.core.series.Series

In [ ]:
print(f"{round((df[df['country'].str.contains('United States')]['country'].value_counts()).sum()/len(df),4)*100} %")

45.29 %

In [ ]:
df['rating'].value_counts()

TV-MA       1665
TV-14       1133
R            654
TV-PG        413
PG-13        375
PG           238
TV-G          80
TV-Y          71
TV-Y7         69
NR            62
G             38
UR             5
TV-Y7-FV       3
NC-17          2
Name: rating, dtype: int64

In [ ]:
ratings = {
    'TV-MA' : 'Adults, For Mature Audiences. May not be suitable for ages 17 and under',
    'TV-14' : 'Teens, Parents strongly cautioned. May not be suitable for ages 14 and under',
    'R': ' Adults, Restricted. May be inappropritate for ages 17 and under',
    'TV-PG' : 'Kids, Parental Guidance Suggested',
    'PG-13' : 'Teens, Parents strongly cautioned. May be inappropriate for ages 12 and under',
    'PG' : 'Kids, Parental Guidance Suggested',
    'TV-G' : 'Kids, Parental Guidance Suggested',
    'TV-Y' : 'Kids, Designed to be appropriate for all children',
    'TV-Y7': 'Kids, Suitable for ages 7 and up',
    'NR' : 'Not Rated',
    'G' : 'Kids, Suitable for General Audiences',
    'UR' : 'Unrated',
    'TV-Y7-FV' : 'TV-Y7 full version?',
    'NC-17': 'Adults, Inappropriate for ages 17 and under'
    }

In [ ]:
df['duration'].nunique()

195

In [ ]:
df[~df['duration'].str.contains('min')]['duration'].unique()

array(['1 Season', '2 Seasons', '8 Seasons', '9 Seasons', '6 Seasons',
       '5 Seasons', '4 Seasons', '3 Seasons', '15 Seasons'], dtype=object)

In [ ]:
# so duration is either in mins or in seasons