<a href="https://colab.research.google.com/github/TashiNyangmi/workshop/blob/main/Intro_to_Data_Science_w_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @ author: tashi.gurung@baruchmail.cuny.edu
# @ date: 01/20/2021

# Importing Libraries

In [24]:
import pandas as pd # library/package for data manipulation and analysis, especially for tabular data
import numpy as np  # library/package for array and matrice operations

In [25]:
# original source: https://www.kaggle.com/shivamb/netflix-shows

In [55]:
df = pd.read_csv('/content/drive/MyDrive/CUNY Hackathon/data/netflix_titles.csv')

In [56]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [62]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [61]:
df.dropna(inplace= True) # drop all rows with any missing data i.e. Na

In [41]:
# df = df[~df['country'].isna()] # drop all rows with country = na

In [64]:
df.shape

(4808, 12)

In [63]:
df['show_id'].nunique()

4808

In [65]:
df['type'].value_counts()

Movie      4673
TV Show     135
Name: type, dtype: int64

In [66]:
df['director'].value_counts()

Raúl Campos, Jan Suter    18
Marcus Raboy              15
Jay Karas                 14
Cathy Garcia-Molina       13
Jay Chapman               12
                          ..
Laxman Utekar              1
Yasir Nawaz                1
Feng Xiaogang              1
Yann Gozlan                1
Sara Colangelo             1
Name: director, Length: 3613, dtype: int64

In [67]:
df['country'].value_counts()

United States                                             1653
India                                                      832
United Kingdom                                             174
Canada                                                     104
Egypt                                                       87
                                                          ...
Denmark, United Kingdom, South Africa, Sweden, Belgium       1
Argentina, Uruguay, Spain, France                            1
Australia, India                                             1
Norway, United Kingdom, France, Ireland                      1
United Kingdom, France, Belgium                              1
Name: country, Length: 544, dtype: int64

In [47]:
df[df['country'].str.contains('United States')]['country'].value_counts()

pandas.core.series.Series

In [54]:
print(f"{round((df[df['country'].str.contains('United States')]['country'].value_counts()).sum()/len(df),4)*100} %")

45.29 %

In [68]:
df['rating'].value_counts()

TV-MA       1665
TV-14       1133
R            654
TV-PG        413
PG-13        375
PG           238
TV-G          80
TV-Y          71
TV-Y7         69
NR            62
G             38
UR             5
TV-Y7-FV       3
NC-17          2
Name: rating, dtype: int64

In [74]:
ratings = {
    'TV-MA' : 'Adults, For Mature Audiences. May not be suitable for ages 17 and under',
    'TV-14' : 'Teens, Parents strongly cautioned. May not be suitable for ages 14 and under',
    'R': ' Adults, Restricted. May be inappropritate for ages 17 and under',
    'TV-PG' : 'Kids, Parental Guidance Suggested',
    'PG-13' : 'Teens, Parents strongly cautioned. May be inappropriate for ages 12 and under',
    'PG' : 'Kids, Parental Guidance Suggested',
    'TV-G' : 'Kids, Parental Guidance Suggested',
    'TV-Y' : 'Kids, Designed to be appropriate for all children',
    'TV-Y7': 'Kids, Suitable for ages 7 and up',
    'NR' : 'Not Rated',
    'G' : 'Kids, Suitable for General Audiences',
    'UR' : 'Unrated',
    'TV-Y7-FV' : 'TV-Y7 full version?',
    'NC-17': 'Adults, Inappropriate for ages 17 and under'
    }

In [77]:
df['duration'].nunique()

195

In [80]:
df[~df['duration'].str.contains('min')]['duration'].unique()

array(['1 Season', '2 Seasons', '8 Seasons', '9 Seasons', '6 Seasons',
       '5 Seasons', '4 Seasons', '3 Seasons', '15 Seasons'], dtype=object)

In [81]:
# so duration is either in mins or in seasons