In [ ]:
# @ author: tashi.gurung@baruchmail.cuny.edu
# @ date: 01/20/2021

In [ ]:
# dataset downloaded from: https://www.kaggle.com/shivamb/netflix-shows

### COMMENTS
Everything that follows '#' in a line is a comment, and is not treated as code

### Table of Contents:
<ol>
    <li>Importing Libraries </li>
    <li>Importing Dataset </li>
    <li> Exploratory Data Analysis 
        <ol>
            <li>Head/Tail</li>
            <li>Selecting a column</li>
            <li>Null Values</li>
            <li>value_counts and str.contains()</li>
            <li>movie vs tv_shows
                <ol>
                    <li> histplot</li>
                    <li> boxplot</li>
                </ol>
             </li>
         </ol>
    </li>
    <li> Some Resources </li>
</ol>

---

# 1. Importing Libraries

### What is a library?
*   Collection of related functions
*   Eliminates the need to start from scratch
*   Also known as package

For example: <br>
the **rand()** is a function within the module: random from the library: NumPy

In [ ]:
np.random.rand()

Did you get an error? *'np' is not defined* <br>
Try running the cell that imports the necessary library

### Alias
*   importing libraries and we are setting code names (alias) for each of them
*   code is cleaner
*   the alias is a variable and can be set to something else but there are widely accepted conventions

In [ ]:
import pandas as pd # for data manipulation and analysis, especially for tabular data
import numpy as np  # for array and matrice operations

import matplotlib.pyplot as plt # base data visualization
import seaborn as sns # build on top of matplotlib

---

# 2. Importing our Data Set
**pd** is the alias for the Library: **pandas** <br>
the "." (period) allows us to access the functions within the Library: **pandas** <br> 
**read_csv()** function belongs to the Library: **pandas** <br>
**read_csv()** function allows us to import datasets from your computer as well as an online source.

### TASK : 1
Instructions: Assign pd.read_csv(source) to df

In [ ]:
source = 'https://raw.githubusercontent.com/TashiNyangmi/hackathon_workshop/main/data/netflix_titles.csv'

In [ ]:
__ = pd.read_csv(source)

**pd.read_csv** reads the dataset from the source and returns what is called a **DataFrame** in pandas. <br>
**DataFrames** have built-in functions useful for data manipulation and analysis. <br>

***In-depth***: <br>
DataFrames are collection of series that share a common index. <br>
What is a series? What is an index?  <br>
Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. <br>
In pandas, each column of a DataFrame is a series <br>
Try running the following: <br>
type ( df [ 'title' ] ) <br>
in a code cell (including type()) <br>
The **type()** returns the type of a given object.

---

# 3. EDA (Exploratory Data Analysis)

### A. Heads or Tails
**.head()** and **.tail()** functions displays the first 5 (by default), and the last 5 (by default) rows of a table <br>

***In-depth*** : <br>
try head(n = 10) or any other number <br>
do the same with tail( )

In [ ]:
df.head()

### Task 2:
Instructions: display the tail of the DataFrame:df

In [ ]:
df.____()

Python follows 0 indexing, which means the first item starts at 0 and not 1

***In-depth***:
.reset_index(), replaces the index that starts at 0 <br>
drop = True, deletes the original index <br>
inplace = True, saves the changes to the original dataframe <br>

In [ ]:
df.reset_index(drop = True, inplace = True)

**.info()** displays the non-null count, and data type of each column

### Task 3:
Instructions: run df.info()

In [ ]:
df.____()

**Dtype** refers to Data Type <br>
**Object's** are most likely strings <br>
**int64** is integer

**OBSERVATION** <br>
* look at the second line, we have 7787 rows
* however, for some columns, we have less than 7787 non-null values
* it means we have some null values

**Next step:** Select column: *director*, column: *cast*, column: *country*, and column: *rating* and drop the null values

### B. Selecting a column

* Select one columns <br>
syntax: DataFrame['col1']  <br>
<br>
* Select multiple columns <br>
syntax: DataFrame[ ['col1', 'col2', 'col3'] ]<br>
<br>

***In-depth***: <br>
* Try assigning a list of column names to a variable
* Use that variable with DataFrame to select those columns
* For eg, <br>
cols = [ 'country', 'date_added' ] <br>
df [ cols ]

* try displaying only the head of the returned DataFrame

### Task 3:
Instructions:
* Select and display the column: country
* Select and display the column: country and column: date_added, NOTE: make sure you use [ [ ] ]

In [ ]:
df['_____'] # one column

In [ ]:
df[['country', '____']] # multiple column

***In-depth***: <br>
While selecting one column, <br>
df.country also works, but df [ 'country' ] is preferred. <br>
As discussed before, df [ 'country' ] is a series, and we can run all functions and methods built for series on it. <br>

**.columns** method displays the list of columns

In [ ]:
df.columns # displays the list of columns

**Next step:**  Now we know how to select columns, let us look for null/missing value in that particular column

---

### C. Null Values

**.isna()** function checks each row an returns a **boolean value** <br>
What is a boolean value? <br> 
Answer: True/False (1/0) <br>

### Task 4:
Instructions: <br>
Find the rows with missing values for column **director**

In [ ]:
df['____'].isna() # returns a list of boolean values

How is this useful?

**.sum()** adds all the values in 'list'

### Task 5:
Instructions: <br>
add .sum() to the end of the following code <br>
don't forget the period character "."

In [ ]:
df['director'].isna()___ # how does it add True and Falses?

### Task 6:
Instructions: <br>
Find the rows with missing values for all columns

In [ ]:
df['director'].isna() # hint: delete ['director'] to select the entire DataFrame(table)

Task: Display the sum of missing value for all columns

In [ ]:
df.isna().___() # remember the .sum() function

In [ ]:
df.info()

In [ ]:
# total values(rows) - non-null values

In [ ]:
7787 - 5398

2389 true values (1) , which means 2389 rows are missing data for the column: director

But, we can find the missing value directly, why do we need all of this?

In [ ]:
missing = df['director'].isna()

In [ ]:
missing

### Task 7:
Instructions: <br>
Find the rows with missing values for all columns
What is the datatype of the variable: missing? <br>
Hint: use type()

In [ ]:
___(missing)

### Task 8:
Instructions: <br>
Run and observe the results of the following code

In [ ]:
df[missing] # only return the rows for which missing is True

In [ ]:
df[~missing] # Inverts all the bits

In [ ]:
df = df[~missing]

In [ ]:
df['director'].isna().sum()

In [ ]:
df.info()

What about the other columns? Do we repeat the process?

**.dropna()** <br>
**pandas** actually has a function that drops all rows with any missing data

In [ ]:
df = df.dropna()

***In-depth***: <br>
Instead of df = df.dropna(), we can use <br>
df.dropna(inplace = True)<br>
the argument inplace = True drops the rows with missing values in the original DataFrame. <br>
Missing values are a big deal in the Data Science process. <br>
Simply dropping missing values is not a good approach. <br>
There are many ways to deal with missing values depending on the situation.

In [ ]:
df.isna().sum()

In [ ]:
df.info()

***In - depth***: <br>
We can use **len(df)** for number of rows <br>
**df.shape** for number of rows and columns <br>
**df.dtypes** for datatype of each column <br>

---

### D. value_counts and .str.contains()

In [ ]:
df.head()

**.value_counts()** <br>
function counts the number of unique items in a series [ column of a DataFrame ] <br>
and lists them in descending order (starting with the biggest)

***In - depth***: <br>
use the argument normalize = True <br>
to get proportional values, instead of absolute values <br>
df [ 'type' ].value_counts(normalize = True)

In [ ]:
df['type'].value_counts()

### Task 9:
Instructions: <br>
Use **.value_counts()** with the column:*country*

In [ ]:
df['country'].value_counts()

**.str** allows us to use string funcitons on the entire column<br>
**.contains()** allows us checks whether a string contains the given string

In [14]:
bool_mask = df['country'].str.contains('United States') # returns an array of yes/no (1/0)

### Task 10:
Instructions: <br>
Display bool_mask

In [17]:
print(____)

0       False
1       False
2       False
3        True
4        True
        ...
7782    False
7783    False
7784      NaN
7785    False
7786     True
Name: country, Length: 7787, dtype: object

In [ ]:
df[bool_mask]['country'].value_counts()

## F. Movie vs TV Show

In [ ]:
bool_mask = df['type'] == "Movie"

In [ ]:
movie_df = df[____].copy()

***In-depth***: <br>
you can also use .query () to filter data <br>
Syntax: <br>
Dataframe.query('column_name == "StringValue" ' ) <br>
E.g., <br>
df.query('type == "Movie"')

In [ ]:
movie_df.head()

In [ ]:
movie_df['min'] =  [movie_df['duration'][row].split(' ')[0] for row in movie_df.index]
# for further info look up list comprehension

In [ ]:
movie_df.head()

---

**pd.to_numeric()** <br>
converts the datatype of a column to_numeric

### Task 11:
Instructions: <br>
Check the datatype of movie_df['min'] using type()

In [ ]:
____ (movie_df['min'])

### Task 12:
Instructions: <br>
convert the datatype of column:*min* of DataFrame: *movie_df* to numeric using **pd.to_numeric ( df [ 'col' ])**

In [ ]:
movie_df['min'] = pd.______(movie_df['min']) # convert the data type to numeric

### Task 13:
Instructions: <br>
Check the datatype of movie_df['min'] again

***In-depth***: <br>
Try to create a hour column

In [ ]:
movie_df['hour'] = round(movie_df['min']/60 , 2) # round () rounds the decimal points

In [ ]:
movie_df.head()

## DATA VISUALIZATION

Recall we imported **seaborn as sns** <br>

**sns.boxplot()** creates a box plot <br>

### Task 14:
Instructions: <br>
Create a boxplot passing **y = movie_df [ 'min' ]** as the argument

In [ ]:
sns.____(y = movie_df['min']); # use seaborn to make a box plot

In [ ]:
plt.figure(figsize = (5,7)) # specify the plot size
sns.boxplot(y = movie_df['min']); # use seaborn to make a box plot

In [ ]:
plt.figure(figsize = (8,5))
sns.histplot(x = movie_df['min']);

## TASK: Do the same for TV shows

In [ ]:
tv_show_df = df[df['type'] == 'TV Show'].copy() # create a copy of the dataframe with only TV shows
tv_show_df.head()

In [ ]:
tv_show_df['season'] =  [tv_show_df['duration'][row].split(' ')[0] for row in tv_show_df.index]
# for further info look up list comprehension
tv_show_df.head()

In [ ]:
tv_show_df['season'] = pd.to_numeric(tv_show_df['season']) # convert the data type to numeric

In [ ]:
***In-depth***: <br>
Try to create a hour column

tv_show_df['hour'] = round(tv_show_df['min']/60 , 2) # round () rounds the decimal points

tv_show_df.head()

In [ ]:
sns.boxplot(y = tv_show_df['min']); # use seaborn to make a box plot

In [ ]:
plt.figure(figsize = (5,7)) # specify the plot size
sns.boxplot(y = tv_show_df['min']); # use seaborn to make a box plot

In [ ]:
plt.figure(figsize = (8,5))
sns.histplot(x = tv_show_df['min']);

# 4. Some Resources

### GITHUB STUDENT DEVELOPER PACK
link = https://education.github.com/pack
* datacamp : Free 3-month subscription
* educative : Free 6-month subscription

Blogs/ LinkedIn pages to follow:
* Medium
* Towards Data Science (Part of Medium)
* Analyticsvidhya
* RealPython

Podcasts:
* DataFramed by DataCamp: discontinued now, but all the past shows are awesome
* Artists of Data Science: They host office open office hours every Sunday and Friday

Useful Websites:
* Kaggle.com : They host Machine Learning Competitions

Other Resources:
* Cuny Tech Prep: They have a free program for cuny students in Web-Development and Data Science tracks

# MORE WORKSHOPS TO COME . . .

### My LinkedIn
link = https://www.linkedin.com/in/tashitgurung/

**CONNECT WITH ME <br>
Make sure to mention this workshop in the note**