In [1]:
# @ author: tashi.gurung@baruchmail.cuny.edu
# @ date: 01/20/2021

In [2]:
# dataset downloaded from: https://www.kaggle.com/shivamb/netflix-shows

## COMMENTS
Everything that follows '#' in a line is a comment, and is not treated as code

# Importing Libraries

### What is a library?
*   Collection of related functions
*   Eliminates the need to start from scratch
*   Also known as package

For example: <br>
the **rand()** is a function within the module: random from the library: NumPy

In [5]:
np.random.rand()

0.4713683610945273

Did you get an error? Try running the cell that imports the necessary library

### Alias
*   importing libraries and we are setting code names (alias) for each of them
*   code is cleaner
*   the alias is a variable and can be set to something else but there are widely accepted conventions

In [4]:
import pandas as pd # for data manipulation and analysis, especially for tabular data
import numpy as np  # for array and matrice operations

import matplotlib.pyplot as plt # base data visualization
import seaborn as sns # build on top of matplotlib

## Importing our Data Set
**pd** is the alias for the Library: **pandas** <br>
the "." (period) allows us to access the functions within the Library: **pandas** <br> 
**read_csv()** function belongs to the Library: **pandas** <br>
**read_csv()** function allows us to import datasets from your computer as well as an online source.

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/TashiNyangmi/hackathon_workshop/main/data/netflix_titles.csv')
# df1 = pandas.read_csv('https://raw.githubusercontent.com/TashiNyangmi/hackathon_workshop/main/data/netflix_titles.csv')

**pd.read_csv** reads the dataset from the source and returns what is called a **DataFrame** in pandas. <br>
**DataFrames** have built-in functions useful for data manipulation and analysis. <br>

***In-depth***: <br>
DataFrames are collection of series that share a common index. <br>
What is a series? What is an index?  <br>
Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. <br>
In pandas, each column of a DataFrame is a series <br>
Try running the following: <br>
type ( df [ 'title' ] ) <br>
in a code cell (including type()) <br>
The **type()** returns the type of a given object.

## Heads or Tails
**.head()** and **.tail()** functions displays the first 5 (by default), and the last 5 (by default) rows of a table <br>

***In-depth*** : <br>
try head(n = 10) or any other number <br>
do the same with tail( )

In [7]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [8]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

**.info()** displays the non-null count, and data type of each column

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

**Dtype** refers to Data Type <br>
**Object's** are most likely strings <br>
**int64** is integer

**OBSERVATION** <br>
* look at the second line, we have 7787 rows
* however, for some columns, we have less than 7787 non-null values
* it means we have some null values

## Selecting a column

In [17]:
df.columns # displays the list of columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [19]:
df['country']

0                                                  Brazil
1                                                  Mexico
2                                               Singapore
3                                           United States
4                                           United States
                              ...
7782    Sweden, Czech Republic, United Kingdom, Denmar...
7783                                                India
7784                                                  NaN
7785                                            Australia
7786                United Kingdom, Canada, United States
Name: country, Length: 7787, dtype: object

***In-depth***: <br>
df.country also works, but df [ 'country' ] is preferred. <br>
As discussed before, df [ 'country' ] is a series, and we can run all functions and methods built for series on it. <br>

**.isna()** function checks each row an returns a **boolean value** <br>
What is a boolean value? True/False (1/0) <br>
Let us select a column that has missing values

In [20]:
df['director'].isna() # returns a list of boolean values

0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool

**.sum()** adds all the values in 'list'

In [23]:
df['director'].isna().sum() # how does it add True and Falses?

2389

In [27]:
7787 - 5398 # total values(rows) - null values

2389

In [30]:
df.isna() # for all columns

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,False,False,False,False,False,False,False,False,False,False,False,False
7783,False,False,False,False,False,False,False,False,False,False,False,False
7784,False,False,False,True,False,True,False,False,False,False,False,False
7785,False,False,False,True,False,False,False,False,False,False,False,False
7786,False,False,False,False,True,False,False,False,False,False,False,False

In [31]:
df.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [32]:
df.dropna(inplace= True) # drop all rows with any missing data

***In-depth***: <br>
the argument inplace = True drops the rows with missing values in the original DataFrame. <br>
Missing values are a big deal in the Data Science process. <br>
Simply dropping missing values is not a good approach. <br>
There are many ways to deal with missing values depending on the situation.

In [33]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [ ]:
# df = df[~df['country'].isna()] # drop all rows with country = na

### Dealt with Missing Values

In [ ]:
df['show_id'].nunique()

4808

In [ ]:
df['type'].value_counts()

Movie      4673
TV Show     135
Name: type, dtype: int64

In [ ]:
df['director'].value_counts()

Raúl Campos, Jan Suter    18
Marcus Raboy              15
Jay Karas                 14
Cathy Garcia-Molina       13
Jay Chapman               12
                          ..
Laxman Utekar              1
Yasir Nawaz                1
Feng Xiaogang              1
Yann Gozlan                1
Sara Colangelo             1
Name: director, Length: 3613, dtype: int64

In [ ]:
df['country'].value_counts()

United States                                             1653
India                                                      832
United Kingdom                                             174
Canada                                                     104
Egypt                                                       87
                                                          ...
Denmark, United Kingdom, South Africa, Sweden, Belgium       1
Argentina, Uruguay, Spain, France                            1
Australia, India                                             1
Norway, United Kingdom, France, Ireland                      1
United Kingdom, France, Belgium                              1
Name: country, Length: 544, dtype: int64

In [ ]:
df[df['country'].str.contains('United States')]['country'].value_counts()

pandas.core.series.Series

In [ ]:
print(f"{round((df[df['country'].str.contains('United States')]['country'].value_counts()).sum()/len(df),4)*100} %")

45.29 %

In [ ]:
df['rating'].value_counts()

TV-MA       1665
TV-14       1133
R            654
TV-PG        413
PG-13        375
PG           238
TV-G          80
TV-Y          71
TV-Y7         69
NR            62
G             38
UR             5
TV-Y7-FV       3
NC-17          2
Name: rating, dtype: int64

In [ ]:
ratings = {
    'TV-MA' : 'Adults, For Mature Audiences. May not be suitable for ages 17 and under',
    'TV-14' : 'Teens, Parents strongly cautioned. May not be suitable for ages 14 and under',
    'R': ' Adults, Restricted. May be inappropritate for ages 17 and under',
    'TV-PG' : 'Kids, Parental Guidance Suggested',
    'PG-13' : 'Teens, Parents strongly cautioned. May be inappropriate for ages 12 and under',
    'PG' : 'Kids, Parental Guidance Suggested',
    'TV-G' : 'Kids, Parental Guidance Suggested',
    'TV-Y' : 'Kids, Designed to be appropriate for all children',
    'TV-Y7': 'Kids, Suitable for ages 7 and up',
    'NR' : 'Not Rated',
    'G' : 'Kids, Suitable for General Audiences',
    'UR' : 'Unrated',
    'TV-Y7-FV' : 'TV-Y7 full version?',
    'NC-17': 'Adults, Inappropriate for ages 17 and under'
    }

In [ ]:
df['duration'].nunique()

195

In [ ]:
df[~df['duration'].str.contains('min')]['duration'].unique()

array(['1 Season', '2 Seasons', '8 Seasons', '9 Seasons', '6 Seasons',
       '5 Seasons', '4 Seasons', '3 Seasons', '15 Seasons'], dtype=object)

In [ ]:
# so duration is either in mins or in seasons